* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

#header {
    font-size: 2rem;
}

table {
    table-layout: fixed;
    margin: 3rem;
    padding: 2rem;
    border: 2px solid black;
}

table input {
    height: 3vh;
    outline: none;
}

table button {
    font-size: 1.3rem;
    padding: .2rem;
    background-color: yellow;
    border: 1px solid black;
    margin: auto;
    display: block;
}

table td {
    font-size: 1.5rem;
    padding: 1.5rem;
}

p {
    font-size: 1.1rem;
}